html, body, #app{
	font-family: Sans-serif;
    color: #3a3a3a;
	position: relative;
	height: 100%;
	width: 100%;
}

html{
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    html {
        /* reducing base font size will reduce all rem sizes */
        font-size: 20px;
    }
}

#map{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 0;
}

#sidebar {
	height: 100%;
	width: 250px;
	position: absolute;
	left: 0;
	top:0;
	background-color: #fbfbfb;
	z-index: 10;
	box-shadow: 5px 0px 10px #aaa;
	border-right: 1px solid #ccc;
    padding: 15px;
	transition: all .3s;
}

#sidebar > .content{
	overflow: hidden;
    height:100%;
}

#sidebar.hidden {
	/*width: 0;*/
    margin-left: -250px;
    box-shadow: none;
}

#lifter{
	position: absolute;
	top:15px;
	left:100%;
	background-color: inherit;
	box-shadow: 5px 5px 5px #aaa;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
	cursor: pointer;
	padding: 5px 10px;
    z-index: 11;
}

/*treeList styles*/
#obvody-treelist, .treeList{
    height: 100%
}
.treeList{
    overflow-y:auto;
}

.treeList > li {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

ul.treeList li > ul.toggle-height{
    transition: all .3s;
}

ul.treeList li.inactivate > ul.toggle-height {
    max-height: 0px;
    overflow: hidden;
}

ul.treeList li.activate > ul.toggle-height {
    /*max-height: 200px;*/
    overflow: hidden;
}

ul.treeList li > div{
    font-size: 105%;
    cursor:pointer;
}

ul.treeList li > div > span.fa-angle-right{
    transition: all .3s;
    margin-left: 4px;
    margin-right: 8px;
}

ul.treeList li.inactivate > div > span.fa-angle-right {
    transform: rotate(0deg);
}

ul.treeList li.activate > div > span.fa-angle-right {
    transform: rotate(90deg);
}

ul.treeList  > li > ul > li {
    padding: 2px 5px 2px 15px;
    font-size: 95%;
    cursor:pointer;
    transition: all .3s;
}

ul.treeList  > li > ul > li:hover{
    background-color: #ebebeb;
}